<foote class="footer-general">
    <div class="footer-sub-general">
    <article class="footer-article" >
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article class="footer-article">
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article class="footer-article">   
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </article>
    <p class="copy-footer-1">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
     <div class="copy-footer-2">
        <p>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
     </div>
</foote>