<header>
    <div class="contenedor-general-header" >
        <div class="contenedor-header">
           <img src="images/logo-mercado-liebre.svg" alt="logo ml"> 
                  <div class="buscador-header">
                     <form action="/search" method="GET" class="search-form">
                     <input type="text" name="buscador" id="busqueda" placeholder=" Buscar productos, marcas"/>
                     <button type="submit" class="buscador-header-btn" ><i class="fas fa-search"></i> </button> 
                     </form>
                   </div>
         </div>
                   <div class="mano-tablet">
                   <i id="mano-tablet-icon" class="fas fa-hand-holding-usd"></i>
                   <p>  Comprá en cuotas y sin tarjeta de crédito</p>
                  </div>
                            
     </div>

    <div class="header-mano" >
      <i class="fas fa-hand-holding-usd"></i>
      <p>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
 </div>

<nav class="nav-header">
 <div class="nav-header2">
      <div class="contenedor-header1">
          <ul>
             <li><a href= "">Oferta</a></li>
             <li><a href= "">Tiendas Oficiales </a></li>
             <li><a href= "">Vender</a></li>
             <li><a href= "">Ayuda</a></li>
         </ul>
     </div>

        <div class="contenedor-header2">
               <ul>
                    <li><a href= "user/register"  >Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                    <li><a href= "user/login" >Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                   <li><a href= "">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
               </ul>
         </div>
</div>

</nav>
<div class="icon-header-barra">
  <i class="fas fa-bars"></i>
</div>
</header>