<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <header>
              <div class="contenedor-general-header" >
                     <img src="images/logo-mercado-liebre.svg" alt="logo ml">
                            <div class="buscador-header">
                           <input type="text" name="buscador" id="busqueda" placeholder=" Buscar productos, marcas"
                              required />
                             <i class="fas fa-search"></i>
                             </div>
                             <div class="mano-tablet">
                             <i id="mano-tablet-icon" class="fas fa-hand-holding-usd"></i>
                             <p>  Comprá en cuotas y sin tarjeta de crédito</p>
                            </div>
                                      
               </div>

              <div class="header-mano" >
                <i class="fas fa-hand-holding-usd"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
              </div>
           </div>
    
      <nav class="nav-header">
           <div class="nav-header2">
                <div class="contenedor-header1">
                    <ul>
                       <li><a href= "">Oferta</a></li>
                       <li><a href= "">Tiendas Oficiales </a></li>
                       <li><a href= "">Vender</a></li>
                       <li><a href= "">Ayuda</a></li>
                   </ul>
               </div>

                  <div class="contenedor-header2">
                         <ul>
                              <li><a href= "/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                              <li><a href= "/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                             <li><a href= "">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                         </ul>
                   </div>
          </div>
    
      </nav>
       <div class="icon-header-barra">
           <a href="">
            <i class="fas fa-bars"></i>
           </a>
       </div>
    </header>


    <main>
        <div><img src="images/img-home-banner.jpg" width="100%" alt="imagenes con ofertas"></div>

        <section>

            <h2 class="titulo-main"><strong>Basado en tu última visita</strong></h2>
            <div class="main-contenedor-productos">
       <article class="descripcion-main" >
           <img src="images/img-cafetera-moulinex.jpg" width= "100%" alt="">
             <i class="fas fa-truck"></i>
             <a href=""></a>
       <p>$6.770 </p>
       <p>40% OFF </p>
       <h5 class="h5-descripcion-main">Cafetera Moulinex</h5>
        </article>
        
        <article class="descripcion-main" >
            <img src="images/img-macbook-pro-2019.jpg" width= "100%" alt="imagen de MacBook">
            <i class="fas fa-truck"></i>
            <a href=""></a>
          <p>$230.000 </p>
          <p>20% off</p>
          <h5  class="h5-descripcion-main">MacBook Pro 2019</h5>
        </article>
         <article class="descripcion-main">
            <img src="images/img-samsung-galaxy-s10.jpg" width= "100%" alt="imagen del Samsung Galaxy">
            <i class="fas fa-truck"></i>
            <a href=""></a>
        <p>$70.500</p>
        <p>10% off</p>
        <h5  class="h5-descripcion-main">Samsung Galaxy S10</h5>
         </article>
         <article class="descripcion-main">
            <img src="images/img-tv-samsung-smart.jpg" width= "100%" alt="imagen del SmartTv">
            <i class="fas fa-truck"></i>
            <a href=""></a>
        <p>$23.200</p>
        <p>5% off</p>
        <h5  class="h5-descripcion-main">SmartTv Samsung 43</h5>
         </article>
        </div>
        </section>

        <section>
            <h2 class="titulo-main"><strong>Sección de Ofertas</strong></h2>

            <div class="main-contenedor-productos-2">
       <article class="descripcion-main">
           <img src="images/img-cafetera-moulinex.jpg" width= "100%" alt="">
           <i class="fas fa-truck"></i>
           <a href=""></a>
       <p>$6.770 </p>
       <p>40% OFF </p>
       <h5  class="h5-descripcion-main">Cafetera Moulinex</h5>
        </article>
        
         <article class="descripcion-main">
            <img src="images/img-macbook-pro-2019.jpg" width= "100%" alt="imagen de MacBook">
            <i class="fas fa-truck"></i>
            <a href=""></a>
        <p>$230.000 </p>
        <p>20% off</p>
        <h5  class="h5-descripcion-main">MacBook Pro 2019</h5>
         </article>
         <article class="descripcion-main">
            <img src="images/img-samsung-galaxy-s10.jpg" width= "100%" alt="imagen del Samsung Galaxy">
            <i class="fas fa-truck"></i>
            <a href=""></a>
        <p>$70.500</p>
        <p>10% off</p>
        <h5  class="h5-descripcion-main">Samsung Galaxy S10</h5>

         </article>
         <article class="descripcion-main">
            <img src="images/img-tv-samsung-smart.jpg" width= "100%" alt="imagen del SmartTv">
            <i class="fas fa-truck"></i>
            <a href=""></a>
          <p>$23.200</p>
          <p>5% off</p>
          <h5  class="h5-descripcion-main">SmartTv Samsung 43</h5>
        </article>
       </div>

        </section>
        

      </main>
    <foote class="footer-general">
        <div class="footer-sub-general">
        <article class="footer-article" >
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="footer-article">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="footer-article">   
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <p class="copy-footer-1">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
         <div class="copy-footer-2">
            <p>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
         </div>
    </foote>
</body>
</html> <!--
"-->
