<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="contenedor-general-header" >
               <img src="images/logo-mercado-liebre.svg" alt="logo ml">
                      <div class="buscador-header">
                     <input type="text" name="buscador" id="busqueda" placeholder=" Buscar productos, marcas"
                        required />
                       <i class="fas fa-search"></i>
                       </div>
                       <div class="mano-tablet">
                       <i id="mano-tablet-icon" class="fas fa-hand-holding-usd"></i>
                       <p>  Comprá en cuotas y sin tarjeta de crédito</p>
                      </div>
                                
         </div>

        <div class="header-mano" >
          <i class="fas fa-hand-holding-usd"></i>
          <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
     </div>

  <nav class="nav-header">
     <div class="nav-header2">
          <div class="contenedor-header1">
              <ul>
                 <li><a href= "">Oferta</a></li>
                 <li><a href= "">Tiendas Oficiales </a></li>
                 <li><a href= "">Vender</a></li>
                 <li><a href= "">Ayuda</a></li>
             </ul>
         </div>

            <div class="contenedor-header2">
                   <ul>
                        <li><a href= "/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                        <li><a href= "/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                       <li><a href= "">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                   </ul>
             </div>
    </div>

 </nav>
 <div class="icon-header-barra">
     <a href="">
      <i class="fas fa-bars"></i>
     </a>
 </div>
 </header>
    <main>
        <form action="" class="formulario" id="formulario">
            

        </form>
        
        
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, unde illum quos et, sit accusantium dolor, dolores autem magni eos delectus nulla quisquam hic quis aut? Illum excepturi iure fuga?</p>
    
        
            <!--Nombre y apellido caja 1
■Nombre de usuari@ caja 2
■Fecha de nacimiento caja 3
■Domicilio caja 4
■Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender) opcion a o b
■Categorías de interés (puede elegir más de una) selectores 
●Electro
●Moda
●Hogar
●Juguetería
●Vida sana
■Foto de usuario
■Contraseña
■Confirmar contraseña
■Botón de enviar que nos lleve a la página principal caja 5 
■Botón de borrar todos los datos del formulario caja 6
-->
        
    </main>

        <foote class="footer-general">
            <div class="footer-sub-general">
            <article class="footer-article" >
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer-article">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer-article">
                <h3>Seguridad, de principio a fin</h3>
                <i class="fas fa-user-shield"></i>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
            <p>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
    
        </foote>

</body>
</html>