<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="contenedor-general-header" >
               <img src="images/logo-mercado-liebre.svg" alt="logo ml">
                      <div class="buscador-header">
                     <input type="text" name="buscador" id="busqueda" placeholder=" Buscar productos, marcas"
                        required />
                       <i class="fas fa-search"></i>
                       </div>
                       <div class="mano-tablet">
                       <i id="mano-tablet-icon" class="fas fa-hand-holding-usd"></i>
                       <p>  Comprá en cuotas y sin tarjeta de crédito</p>
                      </div>
                                
         </div>

        <div class="header-mano" >
          <i class="fas fa-hand-holding-usd"></i>
          <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
     </div>

  <nav class="nav-header">
     <div class="nav-header2">
          <div class="contenedor-header1">
              <ul>
                 <li><a href= "">Oferta</a></li>
                 <li><a href= "">Tiendas Oficiales </a></li>
                 <li><a href= "">Vender</a></li>
                 <li><a href= "">Ayuda</a></li>
             </ul>
         </div>

            <div class="contenedor-header2">
                   <ul>
                        <li><a href= "/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                        <li><a href= "/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                       <li><a href= "">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                   </ul>
             </div>
    </div>

 </nav>
 <div class="icon-header-barra">
     <a href="">
      <i class="fas fa-bars"></i>
     </a>
 </div>
 </header>
 <main class="main-register">
         <form action="">
         
               <div class="caja-1">
                   <div class="input-general">

                  <input class="input-register" type="text" name="nombre" id="name" placeholder="Nombre y apellido" required >
                  <span class="error-message-register">Debes ingresar tu nombre y apellido</span>
      
                  <input class="input-register" type="text" name="usuario" id="name" placeholder="Nombre de usuario" required >
                  <span class="error-message-register">Debes ingresar un nombre de usuario</span>
                 
                  <input class="input-register" type="email" name="email" id="email" placeholder="E-mail"  required >
                  <span class="error-message-register">Debes ingresar tu email</span>

                  <div class="h3-register">
                  <h3>Fecha de nacimiento</h3>
                  </div>
                  <div class="fecha-register">
                  <input class="input-register img-icon-calendar" type="date" name="nacimiento" min="1900" placeholder="mm/dd/yyyy"  required>
                  <span class="error-message-register">Debes ingresar tu fecha de nacimien</span>
                   </div>
                   
                  <input class="input-register " type="text" name="nombre" id="name" placeholder="Domicilio" required >
                  <span class="error-message-register">Debes ingresar tu domicilio</span>

                  </div>

                  <div class="h3-register">
                  <h3>Perfil de usuario</h3>
                  </div>

                     <div class="perfil-usuario">

                          <div class="perfil-usuario-div">
                         <label for="cv">Comprador</label>
                             <input type="radio" name="cv" value="c"> 
                            </div>

                            <div class="perfil-usuario-div">
                         <label for="cv">Vendedor</label>
                             <input type="radio" name="cv" value="v">
                            </div>

                     </div> 

                     <div class="h3-register">
                     <h3>Categorías de interés</h3>
                     </div>
                        <div class="input-categorias">
                        <ul class="li-categorias">  
                            <div class="li-categorias-div">
                           <input class="input-categorias-register" type="checkbox" name="categoria" value="1" id=""><li>Electro</li>
                           </div>
                           
                           <div class="li-categorias-div">
                           <input class="input-categorias-register" type="checkbox" name="categoria" value="2" id=""> <li>Moda</li>
                           </div>

                           <div  class="li-categorias-div">
                           <input class="input-categorias-register" type="checkbox" name="categoria" value="3" id=""> <li>Hogar</li>
                           </div>

                           <div  class="li-categorias-div">
                           <input class="input-categorias-register" type="checkbox" name="categoria" value="4" id=""> <li>Juguetería</li>
                           </div>

                           <div  class="li-categorias-div">
                            <input class="input-categorias-register" type="checkbox" name="categoria" value="5" id=""><li>Vida sana</li>
                           </div>

                        </ul>
                         </div>

                              <div class="foto-usuario-register">
                                <i class="fas fa-user-edit"></i>
                              </div>
                             
                              <div class="input-register-2">
                             
                     <input class="input-register" type="password"  name="pass" id="pass" placeholder="Contraseña" required >
                     <span class="error-message-register">Debes ingresar una contraseña</span>

                     <input class="input-register" type="password"  name="pass" id="pass" placeholder="Confirmar contraseña" required >
                     <span class="error-message-register">Debes confirmar tu contraseña</span>
                      
                              </div>
                              
                            <div class="enviar-register">
                                  <button type="submit" value="enviar" class="registrarse">
                                      <a href="/">Registrarse</a> 
                                 </button>
                            </div>
       
                               <div class="borrar-register">
                              <button type="reset" value="Borrar" class="registrarse">Borrar</button>
                               </div>
                 </div>
   </form>
  </main>

        <foote class="footer-general">
            <div class="footer-sub-general">
            <article class="footer-article" >
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer-article">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer-article">
                <h3>Seguridad, de principio a fin</h3>
                <i class="fas fa-user-shield"></i>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
            <p class="copy-footer-1">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
    
        </foote>

</body>
</html>