* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontText);
}

body {
    background-color: rgba(255, 255, 255, 0.979);

} 

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* variables */
:root {
    /* Colors */
    --amarillo: #EAC926;
    --azul:  #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;

    /* Fonts */
    --fontText: 'Roboto', sans-serif;
}
html {
    font-size: 12px;
}

header {
    background-color: var(--amarillo);
}

.contenedor-header1 a{
    color: black;
}

.contenedor-header2 a{
    color: black;
}

.buscador-header{
    display: flex;
    flex-direction: column;
    width: 170px;
}

.contenedor-general-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.payment-header{
    display: flex;
    justify-content: center;
}

.contenedor-general-header i{
    background-color: var(--gris-claro);
    border: solid black ;
    border-width:1px;  

}
.contenedor-header1{
    margin-bottom: 25px;
    margin-top: 15px
}

.contenedor-header2{
    margin-bottom: 10px;  
}
.icon-header-barra{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.icon-header-barra i{
    color: var(--gris-claro);
    width: 25px;
    height: 25px;
    border: solid var(--celeste);
    border-radius: 3px;
    background-color: var(--celeste);
    display: flex;
    justify-content: center;
    align-items: center;

}

main{
    background-color: var(--gris-claro);
}
.titulo-main{
    font-size: 24px;
    font-weight: 400;
}

.descripcion-main {
    font-size: 18px;
    background-color: #fff;
    

}
.descripcion-main p{
    display: inline;
    width: 30%;

}
.descripcion-main p:nth-of-type(2){
    font-size: 16px;
    width: 70%;
    color: var(--verde);
}

.descripcion-main i{
    display: block;
    font-size: 16px;
    border: 1px solid var(--verde);
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius:  50%;
    background-color: #fff;
    color: var(--verde);

   /*position: absolute;right: 20px; top: -15px;*/
}

.descripcion-main h5{
    color: var(--gris-oscuro);
    font-size: 16px;
    font-weight: 400;
}
.descripcion-main img{
    border-bottom:1px  var(--gris-claro) solid ;

}
.descripcion-main hr{
    color: var(--gris-oscuro);
}

.footer-general{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.footer-sub-general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-article i {
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: var(--celeste);
    margin-bottom: 10px;
    margin-top: 30px;

}

.footer-article h3{
    display: flex;
    justify-content: center;
}

.footer-article p{
    width: 250px;
    height: 55px;

}
 /*mobielpadding-left: 15px;
        padding-right: 10px;*/
 @media (min-width: 320px){
     header{
         height: 170px;
     }
    .descripcion-main{
        margin: 5px;
    }
    .contenedor-general-header img{
        width: 50%;
        padding-right: 7px;

    }
    .contenedor-general-header{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 15px 10px 20px 15px ;
    }
    .contenedor-general-header i{
        background-color: #fff;
        border: solid #fff ;
        border-radius:  0px 10px 10px 0px ;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-general-header input{
        border-radius: 10px  0px  0px 10px;
        background-color: #fff;
        width: 40%;
    }
    
    .nav-header{
        display: none;
    }


}
 /*tabletdisplay: flexbox;
        align-content: space-around;*/
@media (min-width: 480px){
    .descripcion-main {
        width: 40%;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.70);
        display: inline-block;
        
    }

}
/*desktop*/
@media (min-width: 760px){
    .descripcion-main {
        width: 20%;
        
    }


}