header {
    background-color: var(--amarillo);
}

/* .contenedor-general-header{

} */
/*contenedor de imagen y buscador header*/
.contenedor-header{
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
}
/*logo*/
.contenedor-header img{
    width: 50%;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.contenedor-header1 a{
    color: black;
}

.contenedor-header2 a{
    color: black;
}

.buscador-header{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
}
/*campo del buscador*/
.search-form{
    display: flex;
    flex-direction: row;
    height: 3.5rem;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
} /*define el tamaño del buscador input y button */
.search-form input{
    border-radius:4px 0px  0px 4px ; 
    width: 90%;
    height: 80%;
}
/*lupa de busqueda*/
.buscador-header-btn{
    height: 80%;
    background-color:white;
    border: none;
    border-radius:0px 4px 4px 0px;
    
}
/*icono de la lupa*/
.buscador-header-btn i{
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.5rem;

}
  /*contenedor de icon de compras movil*/
  .header-mano{
    display: flex;
    justify-content: center;
    height: 1.5rem;
}
/*menu icono*/
.icon-header-barra{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-header-barra i{
    color: var(--gris-claro);
    width: 2.6rem;
    height: 2.6rem;
    border: solid var(--celeste) 1px;
    border-radius: 3px;
    background-color: var(--celeste);
    display: flex;
   justify-content: center;
   align-items: center;

}
/*
.contenedor-general-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid rgb(93, 230, 100);
}*/
/* .payment-header{
    display: flex;
    justify-content: center;
   
} 

.contenedor-general-header i{
    background-color: var(--gris-claro);
    border: solid black ;
    border-width:1px;  

}
.contenedor-header1{
    margin-bottom: 25px;
    margin-top: 15px
}

.contenedor-header2{
    margin-bottom: 10px;  
}


 */
/* mobiel */
@media (min-width: 320px){
        /* header{
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
     }

    .contenedor-general-header img{
        width: 50%;
        padding-right: 7px;
        height: 100px;

    }
    .contenedor-general-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 15px 10px 0px 15px ;
    }
    .contenedor-general-header i{
        background-color: #fff;
        border: solid #fff ;
        color: var(--gris-oscuro);
        border-radius:  0px 7px 7px 0px ;
        width: 10%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .contenedor-general-header input{
        border-radius: 7px  0px  0px 7px;
        background-color: #fff;
        height: 40px;
        width: 100%;
        margin-top: 20px;
    }
    .buscador-header{
        flex-direction: row;
        width: 40%;
    }
    
 */   
    .nav-header{
        display: none;
    }

    .mano-tablet{
        display: none;
    }  


}
 /*TABLET*/
@media (min-width: 760px){
    .header-mano{
        display: none;
    }
   /*  header{
        justify-content: space-between;
        height: 180px;
    }
    .mano-tablet{
        display: flex;
        width: 35%;
        height: 20px;
        margin-top: 45px;
    }

    #mano-tablet-icon{
        background-color: var(--amarillo);
        color: black;
        margin-left: 0px;
        border-radius: none;
        border:none;
        margin-top: 0px;
        align-items: flex-start;

    }

    .contenedor-general-header img{
        width: 30%;
        padding-right: 0px;
        height: 90px;
    }
    .contenedor-general-header input{
        width: 100%;
       
    }

    .buscador-header{
        width: 25%;
        margin-top: 15px;
    }

    .nav-header {
        display: flex;
        width: 100%;
        padding: 0px 5px 0px 5px;
    
    }
    .nav-header2{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .nav-header ul{
        display: flex;
    }
    .nav-header li{
        margin-left: 15px;
        margin-right: 15px;
    }

    .icon-header-barra{
        display: none;
    }

    .contenedor-header1{
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 15px;
        display: flex;
        

    }
    .contenedor-header2 {
        margin-bottom: 0px;
        margin-left: 15px;
    } */

}
 /*DESKTOP*/
@media (min-width: 1010px){
    header{
        height: 150px;
    }
}