/*general box*/
main{
 background-color: var(--gris-claro);

}

/*titulo H2*/
.titulo-main{
    font-size: 24px;
    font-weight: 400;
    width: 100%;
} 
/*img products all*/

.product-detail-img {
    height: 100%;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid var(--gris-claro);
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }  
  .product-detail-img img{
    width: 85%;
    height: 70%;
  }


/*card products*/
.main-contenedor-productos{
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
    display: block;
    height: 28rem;
    width: 24rem;
    box-shadow: rgba(0, 0, 0, 4) 0.1rem 0.1rem 0.2rem;
}
/*a con el display block*/
.main-contenedor-productos a{
    display: block;
}
/*section main-1 contenedor*/
.section-home{
   margin-left: 1rem;
   margin-right: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
/*icon de compra*/
.icon-home-main{
   display: flex;
   justify-content: end;
   height: 1rem;
  
}

.icon-home-main i{
   display: flex; 
   justify-content: center;
   align-items: center;
    font-size: 1.5rem;
    border: 1px solid var(--verde);
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius:  50%;
    background-color: #fff;
    color: var(--verde);
    position: relative;
    top:-2rem;
   transition: 1s;
  
}
.icon-home-main i:hover{
    transform: rotate(360deg);
}



  /*etiqueta h5 del producto card*/
.descripcion-main h5{
    color: var(--gris-oscuro);
    font-size: 16px;
    font-weight: 400;

}
/*box del main descripcion*/
.descripcion-main {
    font-size: 18px;
    background-color: #fff;
    
}
 

  
.product-detail-info {
    border-left: 1px solid var(--light-gray);
    padding: 0rem 1rem 0.3rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    
  }
 /*precio y descuento*/
.product-detail-info-1{
    font-size: 2rem;
    color: black;
    margin-right: 1.5rem;
    display: flex;
   
   
}

.product-detail-info-2{
    font-size: 1.5rem;
    color: var(--verde);
    display: flex;
    align-items: flex-end;
    
}
 /*descripción oculta*/
.descripcion-main h5{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s linear;
    padding-left: 1rem;
  /*   padding-bottom: -0.5rem; */

 
}
.descripcion-main:hover > .h5-descripcion-main{
    max-height: 4rem;

}


 /* mobile */
 @media (min-width: 620px){

    /*contenedor general de las cards de producto*/
.section-home{
    width: 100%;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}
/*section main-1 contenedor*/
.main-contenedor-productos{
    margin-left: 1rem;
    margin-right: 1rem;
    
 }

}
 /*tablet*/
/* @media (min-width: 760px){
   
  
}   */  
/*desktop*/

/* @media (min-width: 1010px){

} */