/*general box*/
main{
 background-color: var(--gris-claro);

}

/*titulo H2*/
.titulo-main{
    font-size: 24px;
    font-weight: 400;
} 
/*img products all*/

.product-detail-img {
    height: 100%;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid var(--gris-claro);
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }  
  .product-detail-img img{
    width: 85%;
    height: 70%;
  }


/*card products*/
.main-contenedor-productos{
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
    display: block;
    height: 30rem;
    width: 24rem;
    box-shadow: rgba(0, 0, 0, 4) 0.1rem 0.1rem 0.2rem;
}
/*a con el display block*/
.main-contenedor-productos a{
    display: block;
}
/*section main-1 contenedor*/
.section-home{
   margin-left: 1rem;
   margin-right: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
/*icon de compra*/
.icon-home-main{
   display: flex;
   justify-content: end;
   height: 2rem;
}

.icon-home-main i{
   display: flex; 
   justify-content: center;
   align-items: center;
    font-size: 1.5rem;
    border: 1px solid var(--verde);
    width: 3rem;
    height: 3rem;
    border-radius:  50%;
    background-color: #fff;
    color: var(--verde);
    position: relative;
    top:-2rem;
   transition: 1s;

}
.icon-home-main i:hover{
    transform: rotate(360deg);
}



/*etiqueta h5 del producto card*/
.descripcion-main h5{
    color: var(--gris-oscuro);
    font-size: 16px;
    font-weight: 400;
}
/*box del main descripcion*/
.descripcion-main {
    font-size: 18px;
    background-color: #fff;
    
}
 

  
.product-detail-info {
    border-left: 1px solid var(--light-gray);
    padding: 15px;
    height: 100%;
    display: flex;
  }
 /*precio y descuento*/
.product-detail-info p {
    border: solid #fff;
    position: relative;
    top: -1rem;
    

 } 

/*



*/
/*descripción oculta*/
.descripcion-main h5{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s linear;

}
.descripcion-main:hover > .h5-descripcion-main{
    max-height: 35px;

}
/*centrar el contenido- main
.main-contenedor-productos , .main-contenedor-productos-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;

}*/


 /* mobiel 
 @media (min-width: 320px){

    .descripcion-main{
        margin: 5px;
        
    }
    

}*/
 /*tablet;
@media (min-width: 760px){

    .descripcion-main {
        width: 40%;
        display: inline-block; 
        margin: 25px 25px 25px 25px;

    }*/
    
    /*centrar el contenido- main
     .main-contenedor-productos , .main-contenedor-productos-2{
    width: 100%;
    display: inline-block;
    }
*/
    
/*desktop

}
@media (min-width: 1010px){

    .descripcion-main {
        width: 20%;
        margin: 20px 20px 20px 20px;
        
    }


}*/