/*general box*/
main{
 background-color: var(--gris-claro);

}

/*titulo H2*/
.titulo-main{
    font-size: 24px;
    font-weight: 400;
} 
/*img products all*/
.figure {
    
    padding: 0;
    border-bottom: 1px solid var(--gris-claro);
    width: 70%;
    display: block;
    margin: auto;

  }
  
.img {
    width: 100%;
  }

.product-detail-img {
 
  }  
/*card products*/
.main-contenedor-productos{
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
    border: solid red;
    display: block;
}
/*a con el display block*/
.main-contenedor-productos a{
    display: block;
}
/*section main*/
.section-home{
   margin-left: 0.5rem;
   margin-right: 0.5rem; 
}

/*etiqueta h5 del producto card*/
.descripcion-main h5{
    color: var(--gris-oscuro);
    font-size: 16px;
    font-weight: 400;
}
/*box del main descripcion*/
.descripcion-main {
    font-size: 18px;
    background-color: #fff;
    
}
 

  
  .product-detail-info {
    border-left: 1px solid var(--light-gray);
    padding: 15px;
    height: 100%;
  }
  
/*


.descripcion-main i{
    display: block;
    font-size: 16px;
    border: 1px solid var(--verde);
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius:  50%;
    background-color: #fff;
    color: var(--verde);

}

*/
/*descripción oculta*/
.descripcion-main h5{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s linear;

}
.descripcion-main:hover > .h5-descripcion-main{
    max-height: 35px;

}
/*centrar el contenido- main
.main-contenedor-productos , .main-contenedor-productos-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;

}*/


 /* mobiel 
 @media (min-width: 320px){

    .descripcion-main{
        margin: 5px;
        
    }
    

}*/
 /*tablet;
@media (min-width: 760px){

    .descripcion-main {
        width: 40%;
        display: inline-block; 
        margin: 25px 25px 25px 25px;

    }*/
    
    /*centrar el contenido- main
     .main-contenedor-productos , .main-contenedor-productos-2{
    width: 100%;
    display: inline-block;
    }
*/
    
/*desktop

}
@media (min-width: 1010px){

    .descripcion-main {
        width: 20%;
        margin: 20px 20px 20px 20px;
        
    }


}*/