<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %> 
<body>
    
    <%- include('partials/header.ejs') %> 
    <main>
        <div><img src="images/img-home-banner.jpg" width="100%" alt="imagenes con ofertas"></div>

        <section>

            <h2 class="titulo-main"><strong>Basado en tu última visita</strong></h2>
            <div class="main-contenedor-productos">
       <article class="descripcion-main" >
           <img src="images/img-cafetera-moulinex.jpg" width= "100%" alt="">
             <i class="fas fa-truck"></i>
             <a href=""></a>
       <p>$6.770 </p>
       <p>40% OFF </p>
       <h5 class="h5-descripcion-main">Cafetera Moulinex</h5>
        </article>
        
        <article class="descripcion-main" >
            <img src="images/img-macbook-pro-2019.jpg" width= "100%" alt="imagen de MacBook">
            <i class="fas fa-truck"></i>
            <a href=""></a>
          <p>$230.000 </p>
          <p>20% off</p>
          <h5  class="h5-descripcion-main">MacBook Pro 2019</h5>
        </article>
         <article class="descripcion-main">
            <img src="images/img-samsung-galaxy-s10.jpg" width= "100%" alt="imagen del Samsung Galaxy">
            <i class="fas fa-truck"></i>
            <a href=""></a>
        <p>$70.500</p>
        <p>10% off</p>
        <h5  class="h5-descripcion-main">Samsung Galaxy S10</h5>
         </article>
         <article class="descripcion-main">
            <img src="images/img-tv-samsung-smart.jpg" width= "100%" alt="imagen del SmartTv">
            <i class="fas fa-truck"></i>
            <a href=""></a>
        <p>$23.200</p>
        <p>5% off</p>
        <h5  class="h5-descripcion-main">SmartTv Samsung 43</h5>
         </article>
        </div>
        </section>

        <section>
            <h2 class="titulo-main"><strong>Sección de Ofertas</strong></h2>

            <div class="main-contenedor-productos-2">
       <article class="descripcion-main">
           <img src="images/img-cafetera-moulinex.jpg" width= "100%" alt="">
           <i class="fas fa-truck"></i>
           <a href=""></a>
       <p>$6.770 </p>
       <p>40% OFF </p>
       <h5  class="h5-descripcion-main">Cafetera Moulinex</h5>
        </article>
        
         <article class="descripcion-main">
            <img src="images/img-macbook-pro-2019.jpg" width= "100%" alt="imagen de MacBook">
            <i class="fas fa-truck"></i>
            <a href=""></a>
        <p>$230.000 </p>
        <p>20% off</p>
        <h5  class="h5-descripcion-main">MacBook Pro 2019</h5>
         </article>
         <article class="descripcion-main">
            <img src="images/img-samsung-galaxy-s10.jpg" width= "100%" alt="imagen del Samsung Galaxy">
            <i class="fas fa-truck"></i>
            <a href=""></a>
        <p>$70.500</p>
        <p>10% off</p>
        <h5  class="h5-descripcion-main">Samsung Galaxy S10</h5>

         </article>
         <article class="descripcion-main">
            <img src="images/img-tv-samsung-smart.jpg" width= "100%" alt="imagen del SmartTv">
            <i class="fas fa-truck"></i>
            <a href=""></a>
          <p>$23.200</p>
          <p>5% off</p>
          <h5  class="h5-descripcion-main">SmartTv Samsung 43</h5>
        </article>
       </div>
        </section>
        
      </main>
      <%- include('partials/footer.ejs') %> 
</body>
</html> <!--
"-->
